body {
    background-image: url(images/VDAY_2021_HellooSamSamDesigns+2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(254,223,218,255);
}

@font-face {
    font-family: love;
    src: url(TheHeartOfEverythingDemo-KRdD.ttf);
}

.secret {
    background-color: rgba(254,223,218,255);
    width: 300px;
    height: 75px;
    position: absolute;
    left: 42%;
    top: 9%;
}


body,
.wrapper {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    position: relative;
    height: 90vh;
    width: 90vh;
}

img {
    border: 10px solid rgba(221,65,58,255);
}

.wrapper {
    margin-top: 150px;
}

.buttons {
    display: flex;
}

h1 {
    font-family: love;
    font-size: 40px;
    color: rgba(82, 30, 30, 1);
}

.heart {
    width: 30px;
}

a,
button {
    background-color: rgba(221,65,58,255);
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    margin: 0 50px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

a:hover,
button:hover {
    cursor: pointer;
}
  
.no {
    position: absolute;
    left: 52%;
    display: block;
}

#yes {
    margin-right: 175px;
}

